* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: black;
  width: 100vw;
  height: 100vh;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
 animation: fill 2s ease forwards 2s; 
 stroke-dasharray: 0;
}

#logo path {
  stroke-width: 1%; 
}

#logo path:nth-child(1){
  stroke-dasharray: 517;
  stroke-dashoffset: 517;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(2){
  stroke-dasharray: 475;
  stroke-dashoffset: 475;
  animation: line-anim 2s ease forwards 0.3s;
}

#logo path:nth-child(3){
  stroke-dasharray: 477;
  stroke-dashoffset: 477;
  animation: line-anim 2s ease forwards 0.6s;
}

#logo path:nth-child(4){
  stroke-dasharray: 209;
  stroke-dashoffset: 209;
  animation: line-anim 2s ease forwards 0.9s;
}

#logo path:nth-child(5){
  stroke-dasharray: 542;
  stroke-dashoffset: 542;
  animation: line-anim 2s ease forwards 1.2s;
}

#logo path:nth-child(6){
  stroke-dasharray: 557;
  stroke-dashoffset: 557;
  animation: line-anim 2s ease forwards 1.5s;
  
}

#logo path:nth-child(7){
  stroke-dasharray: 474;
  stroke-dashoffset: 474;
  animation: line-anim 2s ease forwards 1.8s;
  
}

#logo path:nth-child(8){
  stroke-dasharray: 581;
  stroke-dashoffset: 581;
  animation: line-anim 2s ease forwards 2.1s;
}

@keyframes line-anim {
  to{
    stroke-dashoffset: 0;
    
  }
}

@keyframes fill {
  from{
    fill: transparent;
  }
  to{
    fill: white;
  }
}