* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  background-color: rgb(40, 40, 40);
}

.nav {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.nav-link {
  padding-block: 12px;
  padding-inline: 20px;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  color: white;
  border-bottom: 2px solid black;
  transition: border-bottom 0.3s;
}

.nav-link:hover {
  border-bottom: 2px solid gold;
}

h2 {
  text-align: center;
  margin-top: 40px;
}

.logo {
  margin-inline: 35px;
  height: 32px;
}

.logo img {
  height: 32px;
}

.logo2 {
  margin-inline: 35px;
  height: 32px;
}

.logo2 img {
  height: 32px;
}

.nav-search {
  position: absolute;
  right: 20px;
  padding-block: 8px;
  width: 18%;
  outline: none;
  border: 2px solid white;
  background-color: black;
  border-radius: 10px;
  padding-inline: 1%;
  font-size: 17px;
}

.nav-search::placeholder {
  color: white;
  font-style: italic;
}

h1 {
  font-size: 55px;
  text-align: center;
  margin-block: 50px;
}

hr {
  border: none;
  width: 75%;
  margin-inline: 12.5%;
  height: 5px;
  background-color: white;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 0.7vw;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 50px;
  border: 0.15vw solid rgb(40, 40, 40);
}

.about table {
  width: 35%;
  background-color: black;
  font-size: 20px;
  margin-left: 10%;
  margin-right: 5%;
  border-radius: 30px;
  padding: 0;
}

.media td {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  padding-inline: 80px !important;
  text-align: left;
  margin-block: 0px;
  padding-block: 5px;
}

.media a {
  margin-inline: 0;
  padding-inline: 0;
  margin-block: 0px;
  padding-block: 0px;
}

.media a:hover {
  text-decoration: underline;
}

.about td {
  padding: 20px;
}

.first {
  border-bottom: 1px solid black;
}

.about tr {
  border-radius: 30px;
}

td:first-child {
  margin-right: 120px;
}
td :last-child {
  text-align: right;
}

.about {
  display: flex;
  padding-block: 40px;
}

.about p {
  width: 40%;
  font-size: 18px;
  margin-right: 8%;
  margin-left: 2%;
  margin-left: 0;
  padding-inline: 0;
  padding-block: 0;
  margin-block: 15px;
  line-height: 28px;
}

.about img {
  border-radius: 50px;
}

.about br {
  content: "t" !important;
  display: block !important;
  margin-bottom: 0.8em !important;
}

td a {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  color: white;
  text-decoration: none;
}

td {
  text-align: center;
}

td a:visited {
  color: white;
}

::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}

ul {
  width: 55%;
  font-size: 20px;
  line-height: 35px;
  list-style-type: square;
  margin-inline: 22.5%;
  margin-block: 40px;
}

p {
  width: 55%;
  font-size: 20px;
  line-height: 35px;
  list-style-type: square;
  margin-inline: 22.5%;
  margin-block: 30px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding-block: 25px;
  font-size: 14px;
}

.pages {
  display: flex;
  flex-wrap: wrap;
  width: 81%;
  margin-inline: 9.5%;
  justify-content: center;
  margin-bottom: 20px;
}

.page {
  display: block;
  max-width: 280px;
  min-width: 200px;
  width: 24%;
  height: 170px;
  background-color: rgb(50, 50, 50);
  text-decoration: none;
  padding-block: 10px;
  border-radius: 15px;
  margin: 0.5%;
  transition: background-color 0.2s ease;
}

.page h2 {
  padding-block: 0;
  display: block;
  margin-inline: 0 !important;
  padding-inline: 0;
  margin-block: 0;
}

.big {
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -300px;
}

.big h1 {
  margin-block: 0px;
  padding-block: 40px;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(15, 15, 15, 0.95));
}

.section1 {
  width: 80%;
  margin-inline: 10%;
  background-color: rgb(45, 45, 45);
  border-radius: 15px;
  padding-block: 0px;
  padding-top: 20px;
  margin-block: 40px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-inline: 15%;
}

.author {
  width: 55%;
  margin-inline: 22.5%;
  margin-top: 30px;
  display: inline-block;
}

.flex img {
  width: 45%;
  margin-inline: 2.5%;
  border-radius: 30px;
}
.flex p {
  width: 45%;
  margin-inline: 2.5%;
  padding-block: 20px;
  padding-inline: 0;
  font-size: 18px;
}

.section1 h1 {
  margin-block: 5px;
  font-size: 40px;
}

#project-h {
  margin-block: 5px;
  font-size: 40px;
  margin-block: 50px;
}

.page:hover {
  background-color: rgb(60, 60, 60);
}

.page h2 {
  padding-block: 10px;
  margin-inline: 25px;
  font-size: 21px;
}

.page p {
  padding-block: 0px;
  margin-inline: 25px;
  width: auto;
  display: block;
  line-height: 25px;
  font-size: 15px;
  margin-block: 0;
}

.date {
  font-weight: normal;
  font-size: 15px;
  margin-top: 5px;
  display: block;
}

::selection {
  background-color: black;
  color: rgb(0, 225, 0);
}

.welcome {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.welcomep {
  width: 50%;
}

.welcomep p {
  width: 73%;
  margin-left: 27%;
  font-size: 18px;
  text-align: center;
}

.btn-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.welcomeimg {
  width: 50%;
}

.welcomeimg img {
  width: 60%;
  margin-left: 10%;
}

button {
  border: none;
  outline: none;
  background-color: black;
  color: white;
  padding-block: 15px;
  padding-inline: 20px;
  border-radius: 100px;
  cursor: pointer;
  font-size: 18px;
  margin-inline: 20px;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(29, 29, 29);
  transition: 0;
}

button:focus {
  background-color: rgb(66, 66, 66);
}
