* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(43, 43, 43);
}

.homeheader {
  color: white;
  padding-top:20px;  
  text-align:center;
}

.title {
  font-size:35px;
  font-weight:bold;
}

 .sub {
  font-size: 20px;
  padding: 20px;
}

.nav {
  background-color: black;
  padding-block: 12px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  text-align: center;
  z-index:10000000;
}

.nav a {
  color: white;
  text-decoration: none;
  background-color: black;
  padding-inline: 20px;
  margin-inline: 10px;
  font-size: 18px;
  font-weight: bold;
  padding-block: 8px;
  border-radius: 50px;
}

.nav a:hover {
  background-color: rgb(43, 43, 43);
}

.games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: 5px;
}

.game {
  display: flex;
  justify-content: center;
  align-items:end;
  font-size: 17px;
  margin-inline: 6px;
  margin-block: 5px;
  width: 130px;
  background-color: gray;
  color: white;
  padding-inline: 20px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
  height: 130px;
  padding-bottom: 10px;
  transition: transform 0.3s ease;
   background-repeat: no-repeat;
  background-size:contain;
}

.game:hover {
  transform: scale(1.1);
}

h2 {
  color: white;
  text-align: center;
  font-size: 25px;
  margin-block: 30px;
}

hr {
  border: none;
  outline: none;
  height: 3px;
  width: 70%;
  margin-inline: 15%;
  background-color: rgb(255, 255, 255);
}

.thumbnail {
  width: 100%;
  border-radius: 20px;
}

.game-link {
  display:none;
}

#game1 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/1/meta/apple-touch-icon.png');
 
}

#game2 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/1v1lol/splash.png');
}

#game3 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/1v1space/splash.png');
}

#game4 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/10-minutes-till-dawn/media.png');
}

#game5 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/100ng/100ng.jpg');
}

#game6 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/2048/thumb.png');
}

#game7 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/2048-multitask/splash.png');
}

#game8 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/9007199254740992/logo-4.png');
}

#game9 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/achievementunlocked/achievementunlocked.png');
}

#game10 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/adarkroom/splash.png');
}

#game11 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/adrenalinechallenge/adrenalinechallenge.jpg');
}

#game12 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/adventure-drivers/splash.png');
}

#game13 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/ages-of-conflict/splash.jpg');
}

#game14 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/alienhominid/alienhominid.jpg');
}

#game15 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/amidst-the-clouds/splash.png');
}

#game16 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/among-us/red.png');
}

#game17 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/angry-sharks/assets/favicon/icon-512x512.png');
}

#game18 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/aquapark-slides/splash.png');
}

#game19 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/avalanche/avalanche.png');
}

#game20 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/backrooms/img/splash.jpg');
}

#game21 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/bad-ice-cream/bad-ice-cream.png');
}

#game22 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/bad-ice-cream-2/bad-ice-cream-2.png');
}

#game23 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/bad-ice-cream-3/bad-ice-cream-3.png');
}

#game24 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/baldis-basics/splash.png');
}

#game25 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/ballistic-chickens/logo.png');
}

#game26 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/basketball-stars/assets/images/basketball-stars.png');
}

#game27 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/basketbros-io/thumb.jpg');
}

#game28 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/battleforgondor/battleforgondor.JPG');
}

#game29 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/bigredbutton/bigredbutton.png');
}

#game30 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/bitlife/splash.png');
}

#game31 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/blacholesquare/icon.png');
}

#game32 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/blackknight/splash.jpg');
}

#game33 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/bloonstd/bloonstd.jpg');
}

#game34 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/bloonstd2/bloonstd2.png');
}

#game35 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/bloxors/block.png');
}

#game36 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/bobtherobber2/splash.jpeg');
}

#game37 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/boxhead2play/boxhead2play.jpg');
}

#game38 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/boxing-random/512x512.jpg');
}

#game39 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/breakingthebank/breakingthebank.png');
}

#game40 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/btts/images.png');
}

#game41 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/burger-and-frights/splash.png');
}

#game42 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/cannon-basketball-4/img/splash.png');
}

#game43 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/canyondefense/canyondefense.png');
}

#game44 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/cars-simulator/splash.png');
}

#game45 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/cell-machine/img/te9nDu.png');
}

#game46 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/champion-island/splash.png');
}

#game47 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/championarcher/championarcher.png');
}

#game48 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/chill-radio/img/icon.png');
}

#game49 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/chrome-dino/icons/icon-256.png');
}

#game50 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/circlo/img/download.png');
}

#game51 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/cluster-rush/splash.png');
}

#game52 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/connect3/connect3.png');
}

#game53 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/cookie-clicker/cookie1.jpeg');
}

#game54 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/core-ball/pr_source.png');
}

#game55 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/craftmine/images/craftmine.png');
}

#game56 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/creativekillchamber/creativekillchamber.jpg');
}

#game57 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/crossyroad/crossyroad.png');
}

#game58 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/csgo-clicker/images/case1.png');
}

#game59 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/ctr/logo.png');
}

#game60 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/ctr-holiday/thumb.jpg');
}

#game61 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/ctr-tr/logo.png');
}

#game62 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/cubefield/assets/unnamed.png');
}

#game63 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/cupcake2048/meta/apple-touch-icon.png');
}

#game64 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/dante/splash.png');
}

#game65 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/deal-or-no-deal/index.jpg');
}

#game66 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/death-run-3d/img/death.png');
}

#game67 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/defend-the-tank/images/splash.jpg');
}

#game68 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/doctor-acorn2/splash.jpg');
}

#game69 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/doge2048/doge1.jpeg');
}

#game70 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/DogeMiner/img/dogeminer_300x300.png');
}

#game71 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/doodle-jump/doodle.png');
}

#game72 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/doublewires/doublewires.png');
}

#game73 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/dragon-vs-bricks/icon.jpg');
}

#game74 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/draw-the-hill/icons/icon-512.png');
}

#game75 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/drive-mad/logo.jpg');
}

#game76 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/ducklife1/ducklife.png');
}

#game77 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/ducklife2/ducklife2.png');
}

#game78 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/ducklife3/duck.png');
}

#game79 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/ducklife4/splash.jpg');
}

#game80 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/edge-surf/splash.png');
}


#game81 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/edgenotfound/edge.png');
}

#game82 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/eel-slap/eel-slap.png');
}

#game83 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/elasticman/elasticman.jpg');
}

#game84 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/endlesswar3/endlesswar3.png');
}

#game85 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/escapingtheprison/escapingtheprison.jpg');
}

#game86 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/evil-glitch/evil.png');
}

#game87 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/evolution/splash.png');
}

#game88 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/exo/img/small.jpg');
}

#game89 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/factoryballs/images/splash.png');
}

#game90 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/fancypantsadventures/fancypantsadventure.png');
}


#game91 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/fake-virus/icon.png');
}

#game92 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/fireboywatergirlforesttemple/logo.jpeg');
}

#game93 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/flappy-2048/meta/apple-touch-icon.png');
}

#game94 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/flappy-bird/assets/thumb.png');
}

#game95 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/flashtetris/flashtetris.png');
}

#game96 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/flippy-fish/2022_10_28_0jt_Kleki.png');
}

#game97 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/fnaw/splash.png');
}

#game98 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/fridaynightfunkin/fnf-icon.jpg');
}

#game99 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/froggys-battle/splash.png');
}

#game100 {
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.85)) ,url('projects/fruitninja/FruitNinjaTeaser.jpg');
}
