* {
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  padding: 5%;
}

.slide {
  display: flex;
  width:100%;
}

.slide img {
  width: 100%;
}

.container {
  margin: auto;
  width: 50%;
  height: 350px;
  border: 5px solid black;
  overflow: hidden;
}

#prevBtn {
  position: absolute;
  z-index: 10;
  top: 55%;
  left: 26%;
  font-size: 40px;
  color: white;
  opacity: 0.9;
}

#nextBtn {
  position: absolute;
  z-index: 10;
  top: 55%;
  right: 26%;
  font-size: 40px;
  color: white;
  opacity: 0.9;
}