:root {
  --primary-bg: hsl(200, 10%, 10%);
  --first-color: hsl(200, 100%, 50%);
  --second-color: hsl(160, 100%, 50%);
  --first-color-hover: hsl(216, 100%, 32%);
  --second-color-hover: hsl(184, 100%, 29%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--primary-bg);
  overflow: hidden;
}

.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.input {
  position: absolute;
  top: 250px;
  display: block;
}

.input-label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: gray;
  pointer-events: none;
  transition: top 0.3s ease, left 0.3s ease, transform 0.3s ease;
  transform-origin: left;
}

.input input {
  background-color: transparent;
  border: 2px solid gray;
  outline: none;
  color: white;
  font-size: 20px;
  padding-block: 5px;
  width: 160px;
  z-index: 10;
  border-radius: 5px;
}

.input input:focus {
  border: 2px solid transparent;
  border-radius: 0px;
  border-bottom: 2px solid var(--first-color);
}

.input:has(input:focus) .input-label {
  top: -15px;
  left: 0px;
  transform: scale(0.8);
}

.action-btn,
.action-btn::after {
  background: var(--first-color);
  border-radius: 5px;
  font-size: 18px;
  padding: 15px 25px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  width: 160px;
  color: white;
  overflow: hidden;
  transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.action-btn::after {
  content: "Toggle input";
  position: absolute;
  inset: 0;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  background: linear-gradient(45deg, var(--first-color), var(--first-color), var(--second-color));
  opacity: 0;
  transition: opacity 0.5s ease;
}

.action-btn:hover {
  box-shadow: 0px 0px 20px var(--first-color);
  transform: scale(1.05) translateY(-2px);
}

.action-btn:active {
  box-shadow: 0px 0px 10px var(--first-color);
  transform: scale(1.02) translateY(-1px);
}

.action-btn:hover::after {
  opacity: 1;
}

.showing {
  animation: enter 0.4s ease-in-out;
}

.hidden {
  animation: exit 0.4s ease-in-out;
}

.hide {
  display: none;
}

.color {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: white;
  font-weight: bold;
  width: 160px;
}

.color-value {
  font-weight: normal;
  font-size: 15px;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translateX(calc(-50vw - 80px));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes exit {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(50vw + 80px));
    opacity: 0;
  }
}
