* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  padding-inline: 5%;
  padding-block: 1%;
}

.inputs {
  display:flex;
  justify-content: space-between; 
  padding-block: 30px;
  width: 60%;
  margin-inline: 20%;
}

input {
  width: 20%;
  height: 50px;
  padding-inline: 2%;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: rgb(228, 228, 228);
  text-align: center;
}

#operation {
  border-radius: 50px;
  background-color: rgb(228, 228, 228);
  border: none;
  outline: none;
  font-size: 20px;
  width: 20%;
  text-align: center;
}

option {
  background-color: rgb(0, 0, 0);
  color: white;
}

button {
  border-radius: 30px;
  border: none;
  outline: none;
  width: 10%;
  background-color: #1a73e8;
  font-size: 30px;
  color: white;
  transition: background-color 0.5s ease;
}

.controls {
  display:flex;
  justify-content: space-between; 
  padding-block: 30px;
  width: 60%;
  margin-inline: 20%;
}

#button {
  height: 50px;
  width: 60%;
}

#button:hover {
  background-color: #185abc;
}

#button2 {
  height: 50px;
  width: 24%;
  background-color: #bc1818;
}

#button2:hover {
  background-color: #a31515;
}

#answer {
  width: 60%;
  margin-inline: 20%;
  margin-top: 20px;
  padding: 30px 0;
  border-radius: 100px;
  border: 2px solid rgb(58, 58, 58);
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

::selection {
  background-color: black;
  color:white;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none;
  background-color: transparent;
  background-position: right center;
  background-repeat: no-repeat;
}