* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(media/work.jpg);
  background-size: cover;
  background-position: center center;
}

.wrap {
  width: 100%;
  height: 100vh;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(15, 15, 25, 0.75);
}

.container {
  display: flex;
  border-radius: 15px;
  overflow: hidden;
}

.box {
  background-color: rgba(60, 60, 70, 0.6);
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 20px;
  backdrop-filter: blur(5px);
  color: white;
  justify-content: center;
  padding-inline: 10px;
}

.shortcut {
  width: 160px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 20px;
  cursor: pointer;
  gap: 20px;
  padding: 10px;
  height: 131px;
  position: relative;
}

.edit-shortcut,
.remove-shortcut {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 6px;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  border-radius: 5px;
  opacity: 0;
}

.edit-shortcut:hover,
.remove-shortcut:hover {
  background-color: rgb(70, 70, 80);
}

.shortcut:has(.edit-shortcut:hover),
.shortcut:has(.remove-shortcut:hover) {
  background-color: transparent;
}

.shortcut:hover {
  background-color: rgb(70, 70, 80);
}

.shortcut:hover .remove-shortcut,
.shortcut:hover .edit-shortcut {
  opacity: 1;
}

.remove-shortcut {
  top: 30px;
}

.shortcut-img {
  height: 70px;
}

.search {
  border: none;
  outline: none;
  color: white;
  padding: 20px 40px;
  font-size: 20px;
  background-color: transparent;
  width: 100%;
}

.search::placeholder {
  font-size: 20px;
  font-style: italic;
}

.icon {
  display: flex;
  color: white;
  text-decoration: none;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
}

.icon:hover {
  background-color: rgb(70, 70, 80);
}

.icon img {
  height: 30px;
}

.quote-container {
  height: 70px;
  text-align: center;
}

#news-link {
  color: white;
  width: 90%;
}

.news-img {
  height: 60px;
  border-radius: 10px;
}

.widget-icon {
  width: 40px;
}

.weather {
  flex-direction: column;
  gap: 5px;
  padding-bottom: 20px;
}

#weather-location {
  margin-block: 20px;
  font-size: 23px;
}

.weather-temp {
  font-size: 20px;
  display: flex;
  gap: 30px;
  font-weight: bold;
  margin-block: 20px 10px;
}

.weather-icon {
  height: 45px;
}

.tasks {
  flex-direction: column;
  justify-content: space-between;
  padding-block: 20px;
}

#task-list {
  height: 200px;
  overflow: auto;
  width: 90%;
  padding-right: 10px;
  text-align: center;
}

.task-item {
  margin-bottom: 10px;
  display: flex;
  gap: 15px;
  padding: 5px 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  text-align: left;
}

.task-item:hover {
  background-color: rgb(70, 70, 80);
}

::-webkit-scrollbar {
  width: 8px;
}

#task-list::-webkit-scrollbar-thumb {
  background-color: rgb(70, 70, 80);
  border-radius: 10px;
}

#task-input {
  background-color: rgb(70, 70, 80);
  border: none;
  outline: none;
  width: 90%;
  font-size: 18px;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  align-self: center;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 20px;
}

.settings {
  width: 63px;
  height: 63px;
  position: absolute;
  top: 30px;
  right: 50px;
  background-color: rgba(60, 60, 70, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.settings img {
  width: 45%;
}

.settings:hover {
  background-color: rgb(70, 70, 80);
}

.modal-background {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  background-color: rgba(30, 30, 40, 0.8);
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(10px);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: rgb(50, 50, 60);
  border-radius: 15px;
  height: 300px;
  width: 300px;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px rgb(30, 30, 40);
}

.modal-title {
  color: white;
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
}

.option {
  color: white;
  font-size: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
}

.option input,
.option label {
  cursor: pointer;
}
