* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(60, 60, 60);
  color: white;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
}

h1 {
  text-align: center;
  padding-block: 40px;
  font-size: 40px;
}

p {
  font-size: 20px;
  width: 60%;
  margin-inline: 20%;
  line-height: 33px;
  margin-bottom: 20px;
}

.menu,
.settings {
  background-color: rgba(220, 220, 220, 0.96);
  color: rgb(30, 30, 30);
  width: 150px;
  border-radius: 10px;
  padding: 8px;
  position: absolute;
  display: none;
  box-shadow: 0px 0px 10px rgb(80, 80, 80);
}

.item {
  font-size: 18px;
  padding-block: 13px;
  padding-inline: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  transition: background-color 0.15s ease;
}

.item:hover {
  background-color: rgb(180, 180, 180);
}

.item img {
  padding-right: 15px;
  width: 33px;
}

.settings {
  opacity: 0;
  transition: 0.15s ease;
  position: absolute;
  display: block;
  top: 130px;
  pointer-events: none;
  left: 130px;
  width: 110px;
  padding: 5px;
}

.settings .item img {
  padding-right: 8px;
  width: 25px;
}

#setting-op:hover + .settings,
.settings:hover {
  opacity: 1;
  pointer-events: auto;
}
