* {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  margin: 5%;
}

.wraper {
  width: 50%;
  height:400px;
  position: relative;
  margin:auto;
}

.whole {
  display: flex;
}

.wraper img {
  width: 80%;
  margin-left: 10%;
}

#image2 {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: opacity 1s ease;
}

#image1 {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 1;
}

#image2:hover {
  opacity: 1;
}

.fade::after {
  content: "Coding";
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  width: 80%;
  height: 70%;
  margin-left: 10%;
  background-color: black;
  position: absolute;
  align-items: center;
  font-size: 50px;
  top: 0;
  left: 0;
  opacity:0;
  transition: opacity 1s ease;
}

.fade {
  height: 70%;
}

.fade:hover::after {
  opacity:0.7;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 123, 0,0.8);
  border-radius: 50px;
  border: 3.5px solid rgb(47, 47, 47);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(255, 123, 0);
}

::-webkit-scrollbar-track {
  border-radius: 50px;
  background-color: rgb(47, 47, 47);
  margin-block: 5px;
}