* {
  margin: 0;
  padding: 0;
}

.annoucement {
  background-color: rgb(75, 75, 75);
  color: white;
  display: flex;
  padding: 10px;
  padding-block: 10px;
  font-size: 17px;
}

.close {
  position: absolute;
  right: 50px;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.5s ease;
}

.close:hover {
  color: gold;
}

.text {
  padding-left: 40px;
  font-size: 17px;
  text-align: center;
}

.not-appear {
  display: none;
  
}