:root {
  --primary-bg: hsl(250, 10%, 10%);
  --first-color: hsl(250, 100%, 50%);
  --second-color: hsl(210, 100%, 50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--primary-bg);
  overflow: hidden;
}

.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.input {
  background-color: var(--primary-bg);
  border: 2px solid gray;
  outline: none;
  color: white;
  font-size: 20px;
  padding: 10px 15px;
  width: 160px;
  z-index: 10;
  border-radius: 5px;
  transition: border 0.3s ease;
}

.input:focus {
  border: 2px solid var(--first-color);
}

.action-btn {
  background: linear-gradient(30deg, var(--first-color), var(--second-color));
  border-radius: 5px;
  font-size: 18px;
  padding: 15px 25px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  width: 160px;
  color: white;
  overflow: hidden;
  transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.action-btn:hover {
  box-shadow: 0px 0px 20px var(--first-color);
  transform: scale(1.05) translateY(-2px);
}

.color {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: white;
  font-weight: bold;
  width: 160px;
}

.animating {
  animation: rotate 0.5s linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    transform: rotate(360deg);
  }
}
